/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background: #fff

}

#left {
  padding: 20px;
  width: 33.3%;
  color: white;
  background: #666;
  float: left
}

#middle {
  padding: 20px;
  width: 33.3%;
  color: white;
  background: #888;
  float: left
}

#right {
  padding: 20px;
  width: 33.3%;
  color: white;
  background: #666;
  float: left
}

#full {
width: 100%;
overflow: auto;
clear: both;
background: #eee;
}

#division {
  padding: 20px;
  margin-top: 20px;
  background: #6ea3da;
}

aside {
  padding: 50px;
  background: #fff;
  float: left;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #333;
  background: #ccc;
  text-align: center;
}
